#footer_section{
  background: $colorbk;
  padding: 70px;
  .footer_grid{
    display: flex;
    color: $colorwh;
    margin: 40px 0;
    
    .footer_contant{
      flex-basis: 19%;
      margin: 0 10px;
      h2{
        font-size: 22px;
        font-weight: $fontwmd;
        text-transform: capitalize;
      }
      ul{
        margin-top: 10px;
        list-style: none;
        li{
          margin: 10px 0;
          a{
            color: $colorwh;
          }
        }
      }
    }
    
  }
  .footer_copyright{
    margin-top: 40px;
    color: $colorwh;
  }
}